# Global & Local Temperature
This example uses historical data since 1880 on average global surface temperature changes from [NASA's GISS Surface Temperature Analysis (GISTEMP)](http://data.giss.nasa.gov/gistemp/) ([original file](http://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.csv)) That site has lots of other data sets in csv format, too.
#### Step 1: Click on the "Save Icon". If you have a problem and need to completely restart, then click "File" and "Revert to Checkpoint" to reset.

Click the "play" icon or press shift+enter to execute each cell.

In [7]:
# import the software packages needed
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
inline_rc = dict(mpl.rcParams)
import datetime as dt
import matplotlib.dates as mdates

## Importing a data set

This next cell may take a little while to run if it's grabbing a pretty big data set. The cell label to the left will look like "In [\*]" while it's still thinking and "In [2]" when it's finished.

In [5]:
# Combined land and ocean temperature averages (LOTI: Land Ocean Temperature Index)
data1 = pd.read_csv('http://github.com/adamlamee/CODINGinK12-data/raw/master/LOTI.csv', header=1).replace(to_replace="***", value=np.NaN)
data_LOTI = data1.apply(lambda x: pd.to_numeric(x, errors='ignore'))

# Only land temperature averages
data2 = pd.read_csv('http://github.com/adamlamee/CODINGinK12-data/raw/master/LAND.csv', header=1).replace(to_replace="***", value=np.NaN)
data_LAND = data2.apply(lambda x: pd.to_numeric(x, errors='ignore'))

# Temperature Data for Orlando, Florida
data3 = pd.read_csv('http://github.com/scpsscience/data/raw/master/Orlando_Temps.csv')

dates = ['1/1/1975','1/2/1975','01/3/1975']
x = [dt.datetime.strptime(d,'%m/%d/%Y').date() for d in dates]
y = "range(len(x))"

## PART 1: Local Temperature Changes & Climate
We can view the first few rows of the file we just imported.

In [6]:
# The .head(n) command displays the first n rows of the local temperature data file.
data3.head(4)

       date   low  high   avg  precipitation
0  1/1/1975  63.0  82.0  72.5            0.0
1  1/2/1975  57.0  73.0  65.0            0.0
2  1/3/1975  52.0  78.0  65.0            0.0
3  1/4/1975  60.0  82.0  71.0            0.0

In [ ]:
data3.columns

In [ ]:
ax = data3.plot('date', 'avg', title="Average Temperature at Orlando International Airport (1975 - Present)", legend=False)
ax.set(xlabel="Date", ylabel="Average Temperature (Fahrenheit)")


# Get current size
fig_size = plt.rcParams["figure.figsize"]
 
# Prints: [8.0, 6.0]
print( "Current size:", fig_size)
 
# Set figure width to 20 and height to 6.5
fig_size[0] = 20
fig_size[1] = 6.5
plt.rcParams["figure.figsize"] = fig_size

plt.show()

## PART 2: Global Temperature Changes & Climate

In [ ]:
# The .head(n) command displays the first n rows of the file.
data_LAND.head(5)

In [ ]:
x1 = data_LOTI.Year
y1 = data_LOTI.JanDec

# plt.plot() makes a line graph, by default
fig = plt.figure(figsize=(10, 5))
plt.plot(x1, y1)
plt.title('Average land an docean temperature readings')
plt.xlabel('Year')
plt.ylabel('Percent temp change')

In [ ]:
x2 = data_LAND.Year
y2 = data_LAND.JanDec

# plt.plot() makes a line graph, by default
fig = plt.figure(figsize=(10, 5))
plt.plot(x2, y2)
plt.title('Land temperature readings')
plt.xlabel('Year')
plt.ylabel('Percent temp change')

In [ ]:
# Wow, this needs a title and axis labels!
fig = plt.figure(figsize=(10, 5))
plt.plot(x1, y1, label="Land and Ocean")
plt.plot(x2, y2, label="Land only")


plt.legend()
plt.show()

Try editing some code and re-running the cell to see the effects. For more information on formatting the markdown text in a cell like this one, go to Help > Markdown > Basic Writing and Formatting Text.

To save your work: go to File > Save and Checkpoint. That only saves your edits as long as you're working inthis notebook. All is lost after 10 minutes of inactivity.

To really save your work: go to File > Download as > iPython notebook (or save as pdf if you just want to show someone a snapshot of what your code and output look like.

## References
- GISTEMP Team, 2017: GISS Surface Temperature Analysis (GISTEMP). NASA Goddard Institute for Space Studies. Dataset accessed 20YY-MM-DD at [https://data.giss.nasa.gov/gistemp/](https://data.giss.nasa.gov/gistemp/).
- Hansen, J., R. Ruedy, M. Sato, and K. Lo, 2010: [Global surface temperature change](https://pubs.giss.nasa.gov/abs/ha00510u.html), Rev. Geophys., 48, RG4004, doi:10.1029/2010RG000345.